.teamInfo-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    background: linear-gradient( #ff00f28e ,#333399);
    margin: 15px;
    border-radius: 5px;
}

.main-btn{
    width: 130px;
}
.teamInfo-div img{
    width: 100px;
    height: 100px;
}


